body {
    text-align: center;
    background-color: yellaquamarineow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-align: center;
    color: red;
    font-size: 60px;
    background-color: black;
    font-family: 'JetBrains Mono';
}

p {
    font-size: 25px
}